# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# SQLite DB
*.sqlite3

# Virtual environments
.env/
.venv/
venv/
ENV/
env/
env.bak/
*.env

# VS Code settings
.vscode/

# macOS
.DS_Store

# React build output
frontend/build/
node_modules/

# Log files
*.log